/*
 * space walk main style sheet
 */
/* some colors */
body {
  font-size: 16px;
  font-family: 'Dosis';
  font-weight: 400; }

iframe {
  width: 100%; }

#container {
  padding: 0.5rem; }

div {
  vertical-align: top; }

.clear {
  clear: both; }

li.itemize {
  display: list-item;
  border-radius: 0.5em;
  background-color: #5dd1a4;
  margin-bottom: 0.2em;
  padding: 0.2em; }

#menu_bar {
  background-color: #333333;
  font-size: 1.5em;
  color: white;
  position: relative;
  height: 2em; }
  #menu_bar .padded {
    padding: 0.5em; }
  #menu_bar div {
    float: left;
    overflow: hidden; }
    #menu_bar div .right {
      float: right; }
  #menu_bar #title {
    font-family: 'Dosis';
    text-transform: uppercase;
    font-weight: 200;
    margin-left: 0.5em;
    font-size: 0.9em; }
  #menu_bar #show_settings {
    cursor: pointer; }
    #menu_bar #show_settings:hover {
      color: #3fc0c9; }
  #menu_bar #menu_bar_settings {
    float: right;
    font-size: 1rem; }
  #menu_bar #server_settings, #menu_bar #connection_status {
    padding-top: 0.9em;
    padding-bottom: 0.1em;
    height: 2em; }
  #menu_bar #connection_status.offline {
    background-color: #e25454; }
  #menu_bar #connection_status.connecting {
    background-color: #e89f49; }
  #menu_bar #connection_status.online {
    background-color: #b6ce4e; }
  #menu_bar #rxtx {
    padding-top: 0.35em;
    margin-left: 0.5em;
    margin-right: 0.4em;
    font-size: 1em;
    letter-spacing: 1px; }
    #menu_bar #rxtx p {
      text-align: right; }
    #menu_bar #rxtx span {
      border-radius: 1em;
      background-color: #7a7a7a;
      width: 0.5em;
      height: 0.5em;
      display: inline-block;
      vertical-align: middle; }
    #menu_bar #rxtx .on {
      background-color: #b6ce4e; }

#settings {
  background-color: #cccccc;
  padding: 0.5em; }
  #settings div.section {
    margin-bottom: 1em; }
    #settings div.section:last-child {
      margin-bottom: 0px; }
  #settings input {
    background-color: #cccccc;
    border: solid 1px;
    border-color: #666666;
    border-radius: 0.5em; }
  #settings input[type="text"] {
    padding: 0.2em; }

span.button {
  display: inline-block; }

.button {
  background-color: #8885ed;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
  margin-top: 0.2em;
  color: white; }

/* --- SVG Styles ---*/
circle {
  fill: #e25454; }

line {
  stroke: black;
  stroke-width: 2; }

#grid line {
  stroke: #eee;
  stroke-width: 1; }

path {
  stroke: #e25454;
  stroke-width: 2;
  fill: none; }
