/* some colors */
div {
  vertical-align: top; }

body {
  font-size: 16px;
  font-family: 'Dosis';
  font-weight: 400; }

#menu_bar {
  background-color: #333333;
  font-size: 1.5em;
  padding: 0.5em;
  color: white;
  position: relative; }
  #menu_bar #title {
    font-family: 'Dosis';
    text-transform: uppercase;
    font-weight: 200;
    margin-left: 0.5em;
    font-size: 0.9em; }
  #menu_bar #menu_bar_settings {
    float: right;
    font-size: 1rem; }
    #menu_bar #menu_bar_settings div {
      display: inline-block;
      margin-left: 1em; }
  #menu_bar #rxtx {
    font-size: 0.8em; }
    #menu_bar #rxtx p {
      text-align: right; }
    #menu_bar #rxtx span {
      border-radius: 1em;
      background-color: #b6ce4e;
      width: 0.5em;
      height: 0.5em;
      display: inline-block;
      vertical-align: middle; }

#settings {
  background-color: #cccccc;
  padding: 0.5em; }
  #settings div.section {
    margin-bottom: 1em; }
    #settings div.section:last-child {
      margin-bottom: 0px; }
  #settings input {
    background-color: #cccccc;
    border: solid 1px;
    border-color: #666666;
    border-radius: 0.5em; }
  #settings input[type="text"] {
    padding: 0.2em; }

#container {
  padding: 0.5rem; }

span.button {
  display: inline-block; }

.button {
  background-color: #8885ed;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
  margin-top: 0.2em;
  color: white; }

/* --- SVG Styles ---*/
circle {
  fill: #e25454; }

line {
  stroke: black;
  stroke-width: 2; }

#grid line {
  stroke: #eee;
  stroke-width: 1; }

path {
  stroke: #e25454;
  stroke-width: 2;
  fill: none; }
