$light: #F3EFEB;
$color: #F3594F;
$lightColor: #E5CDCB;

$large-and-up: "screen and (min-width: 1400px)";

body {
	background-color: $light;
	font-family: 'Dosis';
	font-size: 16px;
	font-weight: 400;
}

#container {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;

	@media #{$large-and-up} {
		width: 100%;
		padding-right: 2em;
		padding-left: 4em;
		box-sizing: border-box; 
	}
}

h1 {
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0.5em;

	&:before {
		content: '5' // 1/10th block
	}
	&:first-letter {
		font-family: 'fontello';
		letter-spacing: 0.1em;
		color: $color;
	}
}

hr {
	width: 100%;
	margin-left: 0px;
	height: 1px;
	border: none;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: $color;
}

video {
	width: 100%;
}

#video {
	@media #{$large-and-up} {
		float:left;
		width: 50%;
	}
}
#breakout {
	margin-left: 0.5em;
	margin-left: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	cursor: pointer;
	display: inline-block;
	border-radius: 0.2em;
	font-weight: 300;
	
	&::before {
		content: '(';
	}
	&::after {
		content: ')';
	}
	&:hover {
		background-color: #000;
		color: #fff;
	}
}

.folded #breakout {
	display: none;
}

.folded {
	height: 0.95em;
	overflow: hidden;

	.foldout {
		margin-left: -0.5em;
		border-radius: 0;
	}
}

div.foldout {
	padding: 0.2em;
	padding-left: 0.4em;
	background-color: #ccc;
	color: white;
	width: 1.95em;
	margin-left: -3em;
	margin-top: -0.2em;
	margin-right: 0.5em;
	z-index: -1;
	border-bottom-left-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	cursor: pointer;
	content: 'asdf';
	float: left;
}

div.section {
	padding: 0.5em;
	padding-top: 0.2em;
	background-color: #ddd;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
	z-index: 1;

	h2 {
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

	@media #{$large-and-up} {
		width: 40%;
		float: right;
	}
}


.entry {
	background-color: #ccc;
	border-radius: 3px;
	margin-bottom: 3px;
	padding: 0.3em;


	&:hover {
		background-color: $lightColor;
	}

	div.bar {
		background-color: $color;
		border-radius: 10px;
		height: 10px;
		min-width: 10px;
	}

	.options {
		padding: 0.5em;
		background-color: $light;
		border-radius: inherit;
	}
}

.hideOptions .options {
	display: none;
}


#plots {
	overflow-x: auto;
	
	.plotContainer {
		position: relative;
	}

	.hidden {
		display: none;
	}

	.plotLabel {
		position: absolute;
		top: 0.2em;
		left: 0.2em;
		font-size: 2em;
		text-transform: uppercase;
		opacity: 0.5;
		background-color: white;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	.foldPlot {
		font-size: 0.5em;
		margin-left: 0.5em;
		padding-left: 0.2em;
		padding-right: 0.2em;
		cursor: pointer;
		display: inline-block;
		border-radius: 0.2em;
		
		&::before {
			content: '(';
		}
		&::after {
			content: ')';
		}
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}

	.unfold {
		display: inline-block;

		padding-left: 0.2em;
		padding-right: 0.2em;
		margin-bottom: 0.2em;
		margin-right: 0.2em;
		border-radius: 0.2em;

		background-color: #fff;

		&:hover {
			background-color: #000;
			color: #fff;
		}

		&.hidden {
			display: none;
		}
	}
}


button.danger {
	color: red;
}

// ------------ svg -------------
svg {
	background-color: white;
	border-radius: 0.2em;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  // display: none;
}

