body {
  background-color: #f3efeb;
  font-family: 'Dosis';
  font-size: 16px;
  font-weight: 400; }

#container {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; }
  @media screen and (min-width: 1400px) {
    #container {
      width: 100%;
      padding-right: 2em;
      padding-left: 4em;
      box-sizing: border-box; } }

h1 {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.5em; }
  h1:before {
    content: "5"; }
  h1:first-letter {
    font-family: 'fontello';
    letter-spacing: 0.1em;
    color: #f3594f; }

hr {
  width: 100%;
  margin-left: 0px;
  height: 1px;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f3594f; }

video {
  width: 100%; }

@media screen and (min-width: 1400px) {
  #video {
    float: left;
    width: 50%; } }

#breakout {
  margin-left: 0.5em;
  margin-left: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.2em;
  font-weight: 300; }
  #breakout::before {
    content: '('; }
  #breakout::after {
    content: ')'; }
  #breakout:hover {
    background-color: #000;
    color: #fff; }

.folded #breakout {
  display: none; }

.folded {
  height: 0.95em;
  overflow: hidden; }
  .folded .foldout {
    margin-left: -0.5em;
    border-radius: 0; }

div.foldout {
  padding: 0.2em;
  padding-left: 0.4em;
  background-color: #ccc;
  color: white;
  width: 1.95em;
  margin-left: -3em;
  margin-top: -0.2em;
  margin-right: 0.5em;
  z-index: -1;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  cursor: pointer;
  content: 'asdf';
  float: left; }

div.section {
  padding: 0.5em;
  padding-top: 0.2em;
  background-color: #ddd;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  z-index: 1; }
  div.section h2 {
    text-transform: uppercase;
    margin-bottom: 0.5em; }
  @media screen and (min-width: 1400px) {
    div.section {
      width: 40%;
      float: right; } }

.entry {
  background-color: #ccc;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 0.3em; }
  .entry:hover {
    background-color: #e5cdcb; }
  .entry div.bar {
    background-color: #f3594f;
    border-radius: 10px;
    height: 10px;
    min-width: 10px; }
  .entry .options {
    padding: 0.5em;
    background-color: #f3efeb;
    border-radius: inherit; }

.hideOptions .options {
  display: none; }

#plots {
  overflow-x: auto; }
  #plots .plotContainer {
    position: relative; }
  #plots .hidden {
    display: none; }
  #plots .plotLabel {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    font-size: 2em;
    text-transform: uppercase;
    opacity: 0.5;
    background-color: white;
    padding-left: 0.2em;
    padding-right: 0.2em; }
  #plots .foldPlot {
    font-size: 0.5em;
    margin-left: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    cursor: pointer;
    display: inline-block;
    border-radius: 0.2em; }
    #plots .foldPlot::before {
      content: '('; }
    #plots .foldPlot::after {
      content: ')'; }
    #plots .foldPlot:hover {
      background-color: #000;
      color: #fff; }
  #plots .unfold {
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
    background-color: #fff; }
    #plots .unfold:hover {
      background-color: #000;
      color: #fff; }
    #plots .unfold.hidden {
      display: none; }

button.danger {
  color: red; }

svg {
  background-color: white;
  border-radius: 0.2em; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }
